/*
 * AntonioAmodeo v0.1
 * Copyright © 2014 Antonio Amodeo
 * Created by Melvin Chien melvin.io
 */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", "Open Sans", "Calibri", "Arial", sans-serif;
    font-weight: 300;
}

body {
    font-size: 2em;
    background-color: #F9F9F9;
}

a:hover {
    text-decoration: none;
}

.nav-pills-center {
    display: inline-block;
}

#hero-container {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

#hero-background {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

#hero-nav > li > a,
#hero-nav > li > a:hover {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}

#hero-nav > li > a:hover,
#hero-nav > li > a:focus {
    background-color: #158cba;
}

section.container-fluid {
    margin-bottom: 2em;
}

section.container-fluid#work {
    padding-bottom: 2em;
}

section.container-fluid > .row {
    margin-bottom: 2em;
}

section#work {
    background-color: #fff;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}