/*
 * AntonioAmodeo v0.1
 * Copyright © 2014 Antonio Amodeo
 * Created by Melvin Chien melvin.io
 */

 body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", "Open Sans", "Calibri", "Arial", sans-serif;
}

a:hover {
    text-decoration: none;
}

.nav-pills-center {
    display: inline-block;
}

#hero-container {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 100%;
}

#hero-background {
    position: absolute;
    z-index: -100;
}

#hero-nav > li > a,
#hero-nav > li > a:hover {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}

#hero-nav > li > a:hover,
#hero-nav > li > a:focus {
    background-color: #158cba;
}
